body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1f242d;
}
a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    color: aliceblue;
;
    position:fixed;
    width: 100%;
    left:0;
    top: 0;
    padding: 25px 9%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;

}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
    font-weight: 500;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;

}

.home{
    height: 100vh;
    padding: 60px 9% 0;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #1f242d;
    
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    margin-top: -30px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 25px;
    background-color: #7cf03d;
    color: #1f242d;
    border: 2px solid #7cf03d;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    margin-right: 20px;
    box-shadow: 0 0 10px #7cf03d;
    transition: .5s;
}
.btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci a{
    display: inline-block;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    margin:0 8px;
    color:#7cf03d;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
}
.home-img .img-box .img-item{
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b');
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    width: 100%;
  
    position: absolute;
    display: block;
    object-fit: cover;
    transition: .5s;
}